.maindiv {
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.silk_container {
    top: 100vh;
    left: 0;
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: #000000;
    z-index: 1;
}

.heroelement {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    color: #ffffff;
    text-align: center;
    display: none;
    opacity: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    overflow: hidden;
}



.heroelement h2 {
    overflow: hidden;
    font-size: 3.2rem;
    font-family: "Momo Trust Display", sans-serif;
    opacity: 0.9;
    font-weight: 500;
    z-index: 2;
}

.heroelement h1 {
    overflow: hidden;
    max-width: 1200px;
    margin: 0 auto;
    font-size: 5.2rem;
    font-family: "CLimate Crisis", sans-serif;
    line-height: 1.2;
    z-index: 2;
}

.heroelement p {
    overflow: hidden;
    font-family: "Poppins", sans-serif;
    max-width: 1000px;
    margin: 0 auto;
    font-size: 1rem;
    margin: 0.8rem 0;
    z-index: 2;
}

.buttoncontainer {
    position: relative;
    margin: 0.6rem 0;
    z-index: 2;
}

.buttoncontainer a {
    text-decoration: none;
}

.buttoncontainer button {
    position: relative;
    color: #000000;
    overflow: hidden;
    background-color: #ffffff;
    font-size: 1.2rem;
    font-family: "Titan One", sans-serif;
    padding: 0.5rem 2rem;
    border-radius: 5px;
    z-index: 10;

}


.main_heading {
    overflow: hidden;
}


@media (max-width: 480px) {

    .heroelement{
        gap: 0.2rem;
        height: 100svh;
    }

    .buttoncontainer {
        margin: 0.4rem 0;
    }

    .heroelement p {
        margin: 0.4rem 0;
        padding: 0rem 0.3rem;
    }

    .heroelement h2 {
        font-size: 1.8rem;
    }

    .heroelement h1 {
        font-size: 2.5rem;
    }

    .heroelement p {
        font-size: 0.75rem;
    }

    .heroelement button {
        font-size: 0.9rem;
    }

}