@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bitcount+Prop+Single:wght@100..900&family=Climate+Crisis&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Luckiest+Guy&family=Monoton&family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rowdies:wght@300;400;700&display=swap');

.maindiv {
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.heroelement {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    color: #000000;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    overflow: hidden;
    z-index: 1;
    padding-top: 6rem;
}

.heroelement h2 {
    font-size: 3.2rem;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 500;
    opacity: 0.7;
}

.heroelement h1 {
    max-width: 1200px;
    margin: 0 auto;
    font-size: 5.2rem;
    font-family: "CLimate Crisis";
    opacity: 0.9;
    /* color: #000000; */
    line-height: 1.2;
}

.heroelement p {
    font-family: "Poppins", sans-serif;
    max-width: 1000px;
    margin: 0 auto;
    opacity: 0.8;
    font-size: 1rem;
    margin: 0.8rem  0;
}

.heroelement button {
    background-color: #ffffff;
    font-size: 1.2rem;
    font-family: "Luckiest Guy", sans-serif;
    font-weight: 500;
    padding: 0.5rem 1.9rem;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 4px 4px;
    margin-top: 0.5rem;
}

.heading1 {}

.main_heading {
    overflow: hidden;
}