.animation_container {
    background-color: #0a0a0a;
    width: 100%;
    height: 100vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.pin-spacer{
    background: #0a0a0a;
}


.animation_heading_container {
    /* width: 100%; */
    display: flex;
    justify-content: center;
}



.animation_heading {
    text-align: center;
    font-size: clamp(20px, 20vw, 500px);
    color: #ffffff;
    
}




/* .animation_heading {
  text-align: center;
  font-size: 3.5rem;
  background: linear-gradient(to right, blue 50%, white 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  transition: background 0.2s linear;
  /* color: #c5e384; */
/* color: #ffffff; */


.animation_contentcontainer {
    padding: 1.5rem 10rem;
    font-size: 1.8rem;
    /* overflow: scroll; */
}

.animation_text {
    /* display: none; */
    color: #fff9eb;
    text-align: justify;
    text-justify: inter-word;
}