@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bitcount+Prop+Single:wght@100..900&family=Climate+Crisis&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Luckiest+Guy&family=Monoton&family=Permanent+Marker&family=Rowdies:wght@300;400;700&display=swap');

.contact_container {
  width: 100%;
  height: 100vh;
  background-color: #000000;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  overflow: hidden;
}

.contact_heading {
  opacity: 0;
  font-size: clamp(50px, 10vw, 500px);
  font-family: "Climate Crisis", sans-serif;
}

.logo_box {
  background-color: #000000;
  overflow: hidden;
}

.logo_box_small_container {
  display: flex;
  gap: 1.5rem;
  padding: 0.5rem;
  align-items: center;
}

.logo_box_small_container img {
  opacity: 0;
  width: 50px;
}

.logo_box_small_container p {
  opacity: 0;
  font-size: 1.8rem;
  text-align: center;
  font-family: "Monoton", sans-serif;
  overflow: hidden;
  display: inline-block;
}

.contact_heading_2 {
  overflow: hidden;
  display: inline-block;
  opacity: 0;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-family: "Rowdies", sans-serif;
}

.form_box_container {
  opacity: 0;
  width: 40vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.form_box_container input {
  padding: 15px;
  height: 60px;
  border: 2px solid gray;
  border-radius: 10px;
  margin-top: 1.5rem;
}

.form_box_container textarea {
  margin-top: 0.5rem;
  padding: 15px;
  grid-column: 1/-1;
  height: 150px;
  border: 2px solid gray;
  border-radius: 10px;
}

.submit_button_container{
  width: 100%;
  grid-column: 1/-1;
  display: flex;
  justify-content: center;

}

.form_box_container button {
  text-align: center;
  width: 180px;
  background-color: #ffffff;
  color: #000000;
  font-size: 1.2rem;
  font-family: "Luckiest Guy", sans-serif;
  font-weight: 500;
  padding: 0.5rem 1.9rem;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 4px 4px;
  margin-top: 0.5rem;
}

textarea {
  padding: 0.75rem;
  resize: none;
  box-sizing: border-box;
  /* box-shadow: 3px 3px; */

  /* Force dark / transparent scrollbar look */
  scrollbar-width: thin;
  /* Firefox */
  scrollbar-color: #888 transparent;
}

/* Chrome, Edge, Safari */
textarea::-webkit-scrollbar {
  width: 6px;
}

textarea::-webkit-scrollbar-track {
  background: transparent;
  /* removes white thing */
}

textarea::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

textarea::-webkit-scrollbar-thumb:hover {
  background: #555;
}