@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bitcount+Prop+Single:wght@100..900&family=Climate+Crisis&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Luckiest+Guy&family=Monoton&family=Permanent+Marker&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rowdies:wght@300;400;700&display=swap');

/* .project_main_container {

} */

.fixed_bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 100;
}

.fixed_bar_inner_container {
    width: 50%;
    padding: 0.8rem;
    display: flex;
    justify-content: center;
    gap: 1rem;

    background-color: #f0e4e9;
    /* box-shadow: 5px 5px; */
    background: rgba(9, 89, 236, 0.815);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 5px;
    /* optional soft shadow */

    /* subtle border */

    /* for Safari */

    /* main glass effect */

}

.fixed_bar_inner_container button {
    padding: 0.5rem 0.8rem;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    /* gap: 1rem; */
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 4px 4px #000000;
    /* color: #ffffff; */
}

.project_container_1 {
    padding: 1rem 3rem;

}

.project_headline {
    text-align: center;
    font-size: 5rem;
    font-family: "Climate Crisis", sans-serif !important;
    text-transform: uppercase;
}

.project_description {
    max-width: 1000px;
    margin: 1rem auto;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    font-family: "Barlow Condensed", sans-serif !important;
    /* text-transform: uppercase; */
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.tech_stack_main_container {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 3rem;
}

.tech_stack_container_1 {
    border: 2px solid black;
    border-radius: 10px;
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 2rem 1.5rem 2rem;
    /* align-items: center; */
    justify-content: center;
    box-shadow: 5px 5px;

}

.tech_stack_container_main_heading {
    text-transform: uppercase;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 0.8rem;
    border-bottom: 2px solid black;

}

.tech_stack_container_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: fit-content;

}

.tech_stack_container_2 img {
    border-radius: 12px;
    width: 100%;
    height: 100%;
    /* let height scale naturally */
    object-fit: contain;
}

.tech_stack_card {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

}

.tech_stack_card_heading {
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
}

.tech_stack_card_bubbles_container {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.tech_stack_card_bubbles {
    text-align: center;
    font-family: "Roboto";
    width: fit-content;
    padding: 6px 12px;
    border: 2px solid black;
    border-radius: 30px;
    background-color: #ece6e6;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px;
}

.project_container_2 {
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.project_container_2_heading {
    text-align: center;
    font-size: 5rem;
    font-family: "Rowdies", sans-serif;
    font-weight: 500;
}

.card_2_main_container {
    display: flex;
    flex-direction: column;
    /* gap: 3rem; */
    background-color: black;
}

.card_2_container {
    min-width: 100%;
    max-width: 100%;
    min-height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 3rem;
    padding: 3rem 1rem;
}

.card_2_container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: var(--after-opacity, 0);
    transition: opacity 0.1s ease;
    pointer-events: none;
    z-index: 2;
}


.card_2_heading {
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
    font-size: 2.5rem;
    font-weight: 700;
    font-family: "Barlow Condensed", sans-serif;
}

.card_2_video {
    /* max-height: 70vh; */
    max-width: 55%;
    display: flex;
    justify-content: center;
}

.card_2_video video {
    max-width: 100%;
    border-radius: 12px;
    margin: 0 auto;

}


.project_container_3 {
    height: 200vh;
    width: 100%;
}