/* transition */

.transition_container {
    display: none;
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    gap: 0;
    overflow: hidden;
}

.smallbox {
    background-color: rgb(127, 9, 236);
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform: scaleY(0);
    transform-origin: center;


}

/* main */
.menucontainer {
    position: fixed;
    /* top: -300px;
    right: -300px; */
    background-color: rgb(102, 68, 6);
    z-index: 20;
    border-radius: 50%;
}


.menubutton {
    background-color: rgb(102, 68, 6);
    position: fixed;
    top: 45px;
    right: 30px;
    z-index: 10;
    /* border: 2px solid black; */
    padding: 0.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: auto;
}

.menubutton svg {
    width: 3rem;
    height: 3rem;
    color: white;
}

.closebutton {
    position: absolute;
    font-size: 2.5rem;
    top: 40px;
    right: 60px;
}

.closebutton svg {
    width: 6rem;
    height: 6rem;
    color: rgb(255, 255, 255);
}

.menulinks {
    height: 100%;
    display: none;
    z-index: 11;
    background-color: rgb(102, 68, 6);
}

.menulinks ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.menulinks li {
    padding: 0.2rem 1rem;
    display: inline-block;
    overflow: hidden;
    color: rgb(223, 203, 204);
    text-transform: uppercase;
    font-size: 4.5rem;
    font-family: "climate Crisis", sans-serif;
}

@media (max-width: 480px) {

    .menubutton {
        top: 10px;
        right: 10px;
    }

    .menubutton svg {
        width: 1.8rem;
        height: 1.8rem;
        color: white;
    }

    .closebutton {
        position: absolute;
        right: 5%;
    }

    .closebutton svg {
        width: 4rem;
        height: 4rem;
        color: rgb(255, 255, 255);
    }

    .menulinks li {
        font-size: 2.7rem;
    }
}