@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bitcount+Prop+Single:wght@100..900&family=Climate+Crisis&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Luckiest+Guy&family=Monoton&family=Permanent+Marker&family=Rowdies:wght@300;400;700&display=swap');
.contact_container {
    width: 100vw;
    min-height: 100vh;
    background-color: #0a0a0a;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 1rem;
}

.contact_heading {
    font-size: 5.5rem;
    font-family: "Climate Crisis", sans-serif;
}

.logo_box {}

.logo_box_small_container {
    display: flex;
    gap: 1.5rem;
    padding: 0.5rem;
    align-items: center;
}

.logo_box_small_container img {
    width: 50px;
}

.logo_box_small_container p {
    font-size: 1.8rem;
    text-align: center;
    font-family: "Monoton", sans-serif;
}

.contact_heading_2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-family: "Rowdies", sans-serif;
}

.form_box_container {
    width: 40vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.form_box_container input {
    padding: 15px;
    height: 60px;
    border: 2px solid gray;
    border-radius: 10px;
}

.form_box_container textarea {
    margin-top: 0.5rem;
    padding: 15px;
    grid-column: 1/-1;
    height: 200px;
    border: 4px solid white;
    border-radius: 10px;
}

textarea {
  padding: 0.75rem;
  resize: none;
  box-sizing: border-box;
  /* box-shadow: 3px 3px; */

  /* Force dark / transparent scrollbar look */
  scrollbar-width: thin;           /* Firefox */
  scrollbar-color: #888 transparent;
}

/* Chrome, Edge, Safari */
textarea::-webkit-scrollbar {
  width: 6px;
}

textarea::-webkit-scrollbar-track {
  background: transparent; /* removes white thing */
}

textarea::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

textarea::-webkit-scrollbar-thumb:hover {
  background: #555;
}
