@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bitcount+Prop+Single:wght@100..900&family=Climate+Crisis&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Luckiest+Guy&family=Monoton&family=Permanent+Marker&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rowdies:wght@300;400;700&display=swap');

@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



/* .second_maindiv{
 position: absolute;
 z-index: 5;
} */

/* hero section */




/* navbar */
.menucontainer {
  position: absolute;
  top: 0;
  right: 0;
  /* width: 50vw;
  height: 100vh; */
  background-color: aqua;
}

.menubutton {
  position: fixed;
  font-size: 2.5rem;
  top: 0;
  right: 0;
  margin: 20px 30px;
  z-index: 5;

}

.menulinks {
  margin: 80px 30px;
  font-size: 3.5rem;
  display: none;
}

/* About section */


/* SKill section */

.skill_container {
  padding: 2rem;
  overflow: hidden;
  background-color: #3fb345;
  width: 100%;
  min-height: 100vh;
  /* height: auto; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.skill_heading {
  text-transform: uppercase;
  text-align: center;
  font-size: 3.5rem;
  color: #000000;
}

.skillcard_container {
  padding: 2rem;
  opacity: 0;
  max-width: 80rem;
  /* width: 100vw;
  height: 100vh; */
  /* width: fit-content; */
  /* overflow-y: auto; */
  height: fit-content;
  gap: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  scrollbar-width: none;

}

.skillcard_container::-webkit-scrollbar {
  display: none;
}

.card_container {
  width: 150px;
  height: 120px;
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #fff9eb;
  border: 3px solid black;
  box-shadow: 4px 4px;
}

.card_container img {
  height: 3.5rem;
  margin: 1rem;
}

.card_container p {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
}


/* work section */