@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Climate+Crisis&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap');




.work_card_main_container {
  background-color: #0a0a0a;
  width: 100%;
  height: auto;
  /* overflow: hidden; */
}

.word_card_text {
  text-transform: uppercase;
  text-align: center;
  font-size: 12cqw;
  height: 90vh;
  color: #c5e384;
  font-family: "Climate Crisis", sans-serif;
}

.work_card_container {
  width: 100%;
  /* height: 100%; */
  background-color: #0a0a0a;
}

.work_card {
  width: 100%;
  height: 100vh;
  background-color: #fff9eb;
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem 5rem 2rem;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 0%;

}

.work_card::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: var(--after-opacity, 0);
  transition: opacity 0.1s ease;
  pointer-events: none;
  z-index: 2;
}

.work_inner_card {
  /* width: 100%; */
  /* height: 80%; */
  overflow: hidden;
  border-radius: 2%;
}

.work_inner_card_details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
}

.work_inner_card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.work_inner_card_details_title_container{
  display: flex;
  gap: 2rem;
  align-items: center;
}

.work_inner_card_details_title {
  font-size: 5rem;
  font-family: "Barlow Condensed", sans-serif !important;
  text-transform: uppercase;
  font-weight: 900;
}

/* .work_inner_card_details_title span {
  font-weight: 900;
  font-family: "Barlow Condensed", sans-serif !important;

} */

.work_inner_card_details_description {
  font-size: 2rem;
  text-align: center;
  font-family: "Host Grotesk", sans-serif !important;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 0.5rem;

}