
.loadercontainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  z-index: 4;
  background-color: #000000;
}

.loadbox {
  background-color: #ffffff;
  width: 0vw;
  height: 4vh;
  display: none;
}

.loadpercent {
  font-family: 'Climate Crisis', sans-serif;
  position: absolute;
  right: 0;
  top: 50%;
  color: #ffffff;
  text-align: right;
  font-size: 5.2rem;
  margin-top: 2rem;
  margin-right: 3rem;
}

@media (max-width: 480px) {


  .loadpercent {
    font-size: 4rem;
  }

}